.container{
position: fixed;
}
.bgContainer{
    position:absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 50%;
}
.item{
    position: relative;
    color: black;
    padding: 20px 24px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: linear-gradient(to top, #182237, #253352 );
    border-radius: 10px;
    margin-left: 2px;
    margin-bottom: 20px;
}
.bgContainer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
}

.bg{
    object-fit: contain;
    opacity: 0.2;
}
.texts{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.title{
    font-weight: 500;
    font-size: 12px;
    color: var(--textSoft);
}