.container {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.detailContainer {
    display: flex;
}

.resaTitle {
    padding: 40px;
    position: relative;
    font-size: 22px;
    flex: 1;
    color: var(--text);
    height: 60%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
    font-weight: 600;
}

.detail {
    display: flex;
    flex: 3;
    background-color: var(--bgSoft);
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    color: white;
}

.title {
    flex: 1;
    margin-right: 20px;
    font-weight: 600;
}

.title p {
    margin-bottom: 15px;
}

.infos {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.infos p {
    margin-bottom: 15px;
}
.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.buttonValidate, .buttonDelete {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.buttonValidate {
    background-color: #508D4E;
    color: var(--text);
}

.buttonDelete {
    background-color: #379777;
    color: var(--text);
}