.container{
    background-color: var(--bgSoft);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}
.top {
    align-items: center;
}
.table{
    margin-top: 5px;
    width: 100%;
    color: rgb(222, 220, 216);
}
.table td {
    padding:  10px 35px;
}
.table tr{
    padding: 10px;
}

.buttons{
display: flex;
gap: 10px;
}

.btn{
    padding: 5px 10px ;
    border-radius: 5px;
    color:var(--text);
    border: none;
    cursor: pointer;
}
.view{
    background: teal;
    font-weight: bold;
}
.view:hover{
 background: transparent;
 color: rgb(222, 220, 216);
}

.del{
    background: red;
    font-weight: bold;
}
.del:hover{
    background: transparent;
    color: rgb(222, 220, 216);
   }